body {
    padding: 0;
    margin: 0;
    font-family: "Original Surfer", sans-serif;
    background-color: #ffffff;
}

.navbar {
    grid-area: navbar;
    background-color: #EECAD5;
    color: white;
    text-align: center;
    height: 70px;
}

.side-bar {
    grid-area: side-bar;
    display: flex;
    flex-direction: column;
}

.grilla-producto {
    grid-area: grilla-producto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding-right: 2%;
    column-gap: 25px;
    row-gap: 25px;
}

.pie {
    grid-area: pie;
    background-color: #EECAD5;
    color: white;
    text-align: center;
    padding: 10px;
}

.grid-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    grid-template-areas:
        "navbar navbar"
        "side-bar grilla-producto"
        "pie pie";
    min-height: 100vh;
}

.nav-bar {
    grid-area: titulo;
    background-color: #EECAD5;
    text-align: center;
}

.boton {
    background-color: #EECAD5;
    width: 100%;
    padding: 1% 0;
    appearance: none;
    border: none;
    color: white;
    padding: 9px;
    font-size: large;
}

.boton:hover {
    background-color: #F6EACB;
}

.card {
    border: 4px solid #F6EACB;
    background-color: white;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.imagen {
    width: 60%;
    text-align: center;
}

.lista-item li {
    list-style-type: none;
}

.lista-item {
    margin: 0;
    padding: 0;
}

.cantidad {
    color: #EECAD5;
}